@font-face {
    font-family: 'Fraunces';
    font-display: swap;
    font-weight: 100 900;
    src: url('.././fonts/Fraunces.woff2') format('woff2'),
        url('.././fonts/Fraunces.ttf') format('truetype');
}

@font-face {
    font-family: 'Fraunces-Italic';
    font-display: swap;
    font-weight: 100 900;
    src: url('.././fonts/Fraunces-Italic.woff2') format('woff2'),
        url('.././fonts/Fraunces-Italic.ttf') format('truetype');
}